{% extends 'landing/layout/page.html.twig' %}


{% block body %}
	<section class="py-5 my-4 position-relative">
		<div class="container">
			<h1 class="display-6 fw-bold text-white mb-4">
				Về Chúng Tôi
			</h1>
			<p class="lead text-white-50 mb-3">
				Chúng tôi là nền tảng thuê game server hàng đầu, mang đến trải nghiệm mượt mà, ổn định và bảo mật cho cộng đồng game thủ Việt Nam.
			</p>
			<ul class="list-unstyled text-white-50 mb-4">
				<li><i class="fa fa-check-circle text-success me-2"></i> Hạ tầng mạnh mẽ, tốc độ cao</li>
				<li><i class="fa fa-check-circle text-success me-2"></i> Hỗ trợ tận tâm 24/7</li>
				<li><i class="fa fa-check-circle text-success me-2"></i> Cam kết bảo mật & quyền riêng tư</li>
			</ul>
			<p class="mb-0 text-white-50">Hãy cùng chúng tôi xây dựng cộng đồng game lớn mạnh và bền vững!</p>
		</div>
	</section>
{% endblock %}
