{% extends 'landing/layout/page.html.twig' %}


{% block body %}
	<section class="py-5 my-4 position-relative">
		<div class="container">
			<h1 class="display-6 fw-bold text-white mb-4">
				Liên Hệ
			</h1>
			<p class="lead text-white-50 mb-4">
				Nếu bạn cần hỗ trợ, tư vấn dịch vụ hoặc có bất kỳ thắc mắc nào, hãy liên hệ với chúng tôi qua các kênh sau:
			</p>
			<ul class="list-unstyled text-white-50 mb-4">
				<li><i class="fa fa-envelope me-2 text-primary"></i> Email: <a href="mailto:vu@pixalab.co" class="text-decoration-none text-white">vu@pixalab.co</a></li>
				<li><i class="fa fa-phone me-2 text-success"></i> Điện thoại: <a href="tel:0916977877" class="text-decoration-none text-white">0916 977 877</a></li>
			</ul>
			<p class="mb-0 text-white-50">Chúng tôi luôn sẵn sàng lắng nghe và hỗ trợ bạn 24/7!</p>
		</div>
	</section>
{% endblock %}
